<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Input your key</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/sb-admin.css" rel="stylesheet">
</head>
<br>
<br>
<br>
<br>
<br>
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/asset" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1"> 请输入公钥</label>
            <textarea name="pubkey" class="form-control" rows=4 id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Public Key"></textarea>
          </div>
            <div class="form-group">
            <label for="exampleInputEmail1"> 请输入私钥</label>
            <textarea name="prikey" class="form-control" rows=4 id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Private Key"></textarea>
          </div>
          <button type="Submit" class="btn btn-primary btn-block">提交</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
