<html>
	<head>
		<meta charset="UTF-8">
		<title>Asset Infomation</title>
<!-- Custom fonts for this template -->
<link href="/static/bootstrap.min.css"
	rel="stylesheet">
<link href="/static/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- Plugin CSS -->
<link href="/static/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/sb-admin.css" rel="stylesheet">

<style>
	th,td{
		text-align: center;
	}
</style>
	</head>
		<body>
        <br>
        <br>
	<div class="content-wrapper" style="margin:auto">
    <div class="container-fluid"  >
      <!-- Example DataTables Card-->

        <div class="card-body">
          <div class="table-responsive" style="margin:auto">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              	<tr>
              		<th colspan="5"><p style="font-size: 30px;font-weight: 800;">权益资产信息<p></th>
              	</tr>
                <tr>
                  <th>发行机构</th>
                  <th>过期时间</th>
                  <th>当前状态</th>
                  <th>简单描述</th>
                  <th>行权</th>
                </tr>
              </thead>
              <tbody>
              {% for l in list %}
                <tr>
                  <td>{{ l['Account'] }}</td>
                  <td>{{ l['ExpiryDate'] }}</td>
                  <td>{{ l['Status'] }}</td>
                  <td>{{ l['Desc'] }}</td>
                  {% if l['Status'] == '1' %}
                    <td><a href="http://localhost:5000/exercise?index={{ loop.index0 }}">Exercise</a></td>
                  {% else %}
                      <td>Exercise</td>
                  {% endif %}
                </tr>
              {% endfor %}
                </c:forEach>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
	</body>
</html>
