<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		td>.form-control {
			margin: 5px 8px;
			float: right;
			width: 50%;
			display: inline-block;
		}
		
		.form-control {
			width: 16%;
			display: inline-block;
		}
		
		#back {
			width: 90%;
			margin: 0 auto;
		    border-style: solid; 
		    border-width: 5px;
		    border-color: rgba(	30,144,255,0.7);
		    border-radius: 30px;
		}
		#buttondiv{
			width:250px;		   
			margin: 50px auto;
		}
	</style>
	<script type="text/javascript">
		//单个数字转换用数组实现，
		var chnNumChar = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九'];
		//节权位同样用数组实现，
		var chnUnitSection = ['', '万', '亿', '万亿', '亿亿'];
		//节内权位同样用数组实现，
		var chnUnitChar = ['', '十', '百', '千'];
		// 节内转换算法
		function SectionToChinese(section) {
			var strIns = '',
				chnStr = '';
			var unitPos = 0;
			var zero = true;
			while(section > 0) {
				var v = section % 10;
				if(v === 0) {
					if(!zero) {
						zero = true;
						chnStr = chnNumChar[v] + chnStr;
					}
				} else {
					zero = false;
					strIns = chnNumChar[v];
					strIns += chnUnitChar[unitPos];
					chnStr = strIns + chnStr;
				}
				unitPos++;
				section = Math.floor(section / 10);
			}
			return chnStr;
		}
		// 转换算法主函数
		function NumberToChinese(num) {
			var unitPos = 0;
			var strIns = '',
				chnStr = '';
			var needZero = false;

			if(num === 0) {
				return chnNumChar[0];
			}
			while(num > 0) {
				var section = num % 10000;
				if(needZero) {
					chnStr = chnNumChar[0] + chnStr;
				}
				strIns = SectionToChinese(section);
				strIns += (section !== 0) ? chnUnitSection[unitPos] : chnUnitSection[0];
				chnStr = strIns + chnStr;
				needZero = (section < 1000) && (section > 0);
				num = Math.floor(num / 10000);
				unitPos++;
			}
			return chnStr;
		}
		var i = 2;

		function add() {
			var chinese=NumberToChinese(i);
			var back = document.getElementById("back");
			var div = document.createElement("div");
			var str = '条款'+chinese+'：<input type="text"  class="form-control"/> ' +
				'前提条件(p)：<input type="text"  class="form-control"/> ' +
				'达成的结果：<input type="text" class="form-control"/> ' +
				'期限：<input type="text" class="form-control"/>'
			div.innerHTML = str;
			var button = document.getElementById("button");
			back.insertBefore(div, document.getElementById("buttondiv"));
			div.style.width = "80%";
			div.style.margin = "10px auto";
			i+=1;
		}
	</script>

	<body>
		<div id="back">
			<h3 align="center">快速生成合约工具</h3>
			<div id="table" style="margin-left: 200px;">
				<table>
					<tr>
						<td>
							基本信息
						</td>
					</tr>
					<tr>
						<td>
							合约名称：<input type="text" class="form-control" />
						</td>
						<td>
							编号：<input type="text" class="form-control" />
						</td>
					</tr>
					<tr>
						<td>
							甲方：<input type="text" class="form-control" />
						</td>
						<td>
							签名：<input type="text" class="form-control" />
						</td>
					</tr>
					<tr>
						<td>
							乙方：<input type="text" class="form-control" />
						</td>
						<td>
							签名：<input type="text" class="form-control" />
						</td>
					</tr>
					<tr>
						<td>
							生效时间：<input type="text" class="form-control" />
						</td>
					</tr>
				</table>
			</div>
			<HR style="width:90%;color:deepskyblue;">
			<div style="width:80%;margin:15px auto;">
				条款一：<input type="text" class="form-control" />
				前提条件(p)：<input type="text" class="form-control" /> 
				达成的结果：<input type="text" class="form-control" />
				期限：<input type="text" class="form-control" />
			</div>
			<div  id="buttondiv">
				<button type="button" onclick="add()" id="button" style="width: 100%;color: deepskyblue;font-size: 20px;" class="btn btn-default">+</button>
			</div>
		</div>
	</body>

</html>